<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <appSettings>
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://awsapps.servicestack.net/" />
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://awsapps.servicestack.net/auth/{0}" />
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="1bGbGWUvD7UlPZScqcgU25sxR" />
    <add key="oauth.twitter.ConsumerSecret" value="atA0n12H4g4qqBDk8B07Mr39iyseAmTTCK3rg5Ljx78hlCJJdN" />
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email" />
    <add key="oauth.facebook.AppId" value="1934838220075493" />
    <add key="oauth.facebook.AppSecret" value="2a546b53bc0151244eab85ddc2c165a1" />
    <!--Create GitHub App at: https://github.com/settings/applications/new -->
    <add key="oauth.github.Scopes" value="user" />
    <add key="oauth.github.ClientId" value="4b2182efb0f2517b78d4" />
    <add key="oauth.github.ClientSecret" value="789f44c77e70e9d3fa3624efc2105bbc71f58efe" />
    <!-- Create Google App at: https://code.google.com/apis/console/ -->
    <add key="oauth.GoogleOAuth.ConsumerKey" value="731622862518-jkclgqakl3bnb3707b7bfn2m110juj2d.apps.googleusercontent.com" />
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="CdIcaO5pWPyCIncIfAiu9Xfj" />
    <add key="oauth.GoogleOAuth.AuthorizeUrl" value="https://accounts.google.com/o/oauth2/auth?prompt=consent" />
    <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
    <add key="oauth.LinkedIn.ConsumerKey" value="774uma32202poi" />
    <add key="oauth.LinkedIn.ConsumerSecret" value="Hk77gh8Fgkfj3528" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>