<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor"
      type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host"
        type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        requirePermission="false"/>
      <section name="pages"
        type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="S3BucketName" value="ss-awsdemo" />-->
    <add key="DynamoDbUrl" value="http://localhost:8000"/>
    <add key="DynamoDbAccessKey" value="keyId"/>
    <add key="DynamoDbSecretKey" value="key"/>
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:11001/"/>
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:11001/auth/{0}"/>
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA"/>
    <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q"/>
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email"/>
    <add key="oauth.facebook.AppId" value="1934838220075493"/>
    <add key="oauth.facebook.AppSecret" value="2a546b53bc0151244eab85ddc2c165a1"/>
    <!--Create GitHub App at: https://github.com/settings/applications/new -->
    <add key="oauth.github.Scopes" value="user"/>
    <add key="oauth.github.ClientId" value="7e8a80ab55b757e7de05"/>
    <add key="oauth.github.ClientSecret" value="122eb4d2762190d024dca6a319bc7c602ee942a2"/>
    <!-- Create Google App at: https://code.google.com/apis/console/ -->
    <add key="oauth.google.ConsumerKey" value="731622862518.apps.googleusercontent.com"/>
    <add key="oauth.google.ConsumerSecret" value="BvumMTV9VEyHj_2uMfDXHaaP"/>
    <add key="oauth.google.AuthorizeUrl" value="https://accounts.google.com/o/oauth2/auth?prompt=consent"/>
    <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
    <add key="oauth.linkedin.ConsumerKey" value="ck8n5g2fxd6o"/>
    <add key="oauth.linkedin.ConsumerSecret" value="Mpy9Pl4uTnRrSee8"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode"
        resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".cs"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Linq"/>
        <add namespace="ServiceStack"/>
        <add namespace="ServiceStack.Html"/>
        <add namespace="ServiceStack.Razor"/>
        <add namespace="ServiceStack.Text"/>
        <add namespace="ServiceStack.OrmLite"/>
        <add namespace="AwsApps"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" culture="neutral" publicKeyToken="885c28607f98e604"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>